<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Permitir acceso directo a archivos reales
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^.*$ - [L]
    
    # Permitir acceso directo a directorios reales
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [L]
    
    # Reescribir todo lo demás a index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Permitir acceso directo a la carpeta uploads
<Directory "uploads">
    RewriteEngine Off
    Allow from all
</Directory>
